{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="home">

    <div id="default-carousel" class="relative w-full " data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-[60vh] md:h-[70vh] overflow-hidden rounded-lg">
            <!-- Item 1 -->
            <div class="hidden duration-2000 ease-in-out" data-carousel-item>
                <img src="/media/Product_Image/royel-enfield-classic-350-1.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 h h-full
                        " alt="...">
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-2000 ease-in-out" data-carousel-item>
                <img src="/media/Product_Image/royel-enfield-hunter-350-4.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 h h-full
                        " alt="...">
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-2000 ease-in-out" data-carousel-item>
                <img src="/media/Product_Image/Yamaha_R15M-3.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 h h-full
                        " alt="...">
            </div>
            <!-- Item 4 -->
            <div class="hidden duration-2000 ease-in-out" data-carousel-item>
                <img src="/media/Categories/Bike_Accessories.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 h h-full
                        " alt="...">
            </div>
            <!-- Item 5 -->
            <div class="hidden duration-2000 ease-in-out" data-carousel-item>
                <img src="/media/Product_Image/royel-enfield-classic-350-4.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 h h-full
                        " alt="...">
            </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                data-carousel-slide-to="3"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button type="button"
            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 1 1 5l4 4" />
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button"
            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>



    <!-- Products -->



    <div class="bg-black py-10 px-6 text-white font-sans">
        <h1 class="text-4xl font-bold text-center mb-10">
            <span class="text-white">Keep calm</span> <span class="text-yellow-400">and</span> ride your bike
        </h1>



        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mx-auto">
            {% for products in product %}

            <!-- Product Card -->
            <div class="bg-zinc-900 rounded-2xl border border-yellow-400 p-4 flex flex-col justify-between">

                {% if products.is_new %}
                <span class="bg-yellow-600 text-white text-xs font-bold px-3 py-1 mb-2 rounded-lg w-[185px] z-10">
                    🆕 New Arrival**
                </span>
                {% endif %}


                <!-- Product Image -->
                {% if products.product_image.first %}
                <img src="{{ products.product_image.first.image.url }}" alt="{{ products.name }}"
                    class="w-full h-40 object-contain mb-3 hover:scale-105" />
                {% else %}
                <div class="w-full h-40 bg-gray-700 flex items-center justify-center text-gray-300">No Image</div>
                {% endif %}

                <!-- Product Info -->
                <div class="mb-2">
                    <p class="text-sm text-gray-400 font-semibold my-1">{{ products.category.name }} </p>
                    <h3 class="font-semibold text-lg font-bold ">{{ products.name }}</h3>
                    <p class="text-sm text-gray-300 mt-2">{{ products.description|slice:":200" }}
                        ..... <span class="font-semibold text-md">more</span></p>
                    <div class="mt-4">
                        <h5 class="mt-1 font-semibold">Available : {{ products.stock }} items </h5>
                        <!-- <p class="text-sm text-gray-300 mt-1">{{ products.available }} </p> -->
                        <h5 class="mt-1 font-semibold">Rating : {{ products.rating }} </h5>
                        <!-- <p class="font-bold mt-2 ">Price : {{ products.price }} BDT</p> -->
                        {% if products.discount_parcentage %}
                        <!-- <p class="text-sm text-red-600 font-semibold">
                            {{ products.discount_parcentage }}% OFF
                        </p> -->
                        <p class="font-bold">Price :
                            <span class="line-through font-bold my-2 ">
                                {{ products.price }}
                            </span>
                            BDT
                        </p>
                        <p>
                            <span class="text-yellow-400 font-bold my-2">
                                New Price : {{ products.final_price|floatformat:2 }} BDT
                            </span>
                        </p>
                        {% else %}
                        <p class="text-white font-bold mt-2">₹{{ products.price }}</p>
                        {% endif %}
                    </div>
                </div>


                <div class="card_button flex justify-between gap-6">

                    <a href="{% url 'add_to_cart' products.id %}"
                        class="bg-yellow-400 text-black font-semibold w-full mt-3 py-2 rounded-lg hover:bg-yellow-600 flex justify-center items-center gap-2">
                        Add to Cart
                    </a>

                    <a href="{% url 'product_details' products.slug %}"
                        class="bg-blue-400 text-black font-semibold w-full mt-3 py-2 rounded-lg hover:bg-blue-500 flex justify-center items-center gap-2">
                        Details
                    </a>

                </div>

            </div>

            {% endfor %}

        </div>
    </div>



    <div class="categories bg-black py-10 px-6 text-white font-sans">
        <h1 class="text-4xl font-bold text-center mb-10">
            <span class="text-white">Shop By </span> <span class="text-yellow-400">Categories</span>
        </h1>

        <div class="flex flex-wrap -mx-4">
            {% for category in categories %}
            <div class="w-full md:w-1/3 lg:w-1/4 p-4">
                <div
                    class="bg-gray-700 rounded-2xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">

                    <!-- Image -->
                    <a href="{% url 'category_products' category.slug %}">
                        <img loading="lazy" src="{{ category.image.url }}" alt="{{ category.name }}"
                            class="w-full h-48 object-cover transition-transform duration-300 hover:scale-105">
                    </a>

                    <!-- Text -->
                    <div class="p-4 text-center">
                        <h4 class="text-lg font-semibold text-white-800">{{ category.name }}</h4>
                        <h6 class="text-sm text-white-500 mb-4">{{ category.product_count }} items</h6>

                        <!-- Shop Button -->
                        <a href="{% url 'category_products' category.slug %}"
                            class="inline-flex items-center justify-center px-4 py-2 bg-blue-600 text-white text-sm font-medium rounded-lg hover:bg-blue-700 transition-colors duration-300">
                            <span>Shop Now</span>
                            <i class="fas fa-angle-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}