{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} E-Commerce {% endblock %}</title>

    <link rel="icon" href="/media/Image/site_logo.webp" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>

    <script src="//unpkg.com/alpinejs" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>




</head>

<body>

    <header class="bg-white dark:bg-gray-900">
        <div class="mx-auto max-w-screen-xl px-2 sm:px-4 lg:px-4">
            <div class="flex h-16 items-center justify-between">
                <div class="md:flex md:items-center md:gap-12">
                    <a class="block text-teal-600 dark:text-teal-600" href="{% url 'home'%}">
                        <h1 class="text-2xl font-bold text-white ">FeelYourBike</h1>
                        <!-- <img src="{{ MEDIA_URL }}Image/site_logo.webp" alt="logo" class="rounded-xl h-12 "> -->
                    </a>
                </div>

                <div class="hidden md:block">
                    <nav aria-label="Global">
                        <ul class="flex items-center gap-6 text-md">
                            <li>
                                <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                    href="{% url 'home' %}">
                                    Home
                                </a>
                            </li>

                            <li>
                                <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                    href="{% url 'category_products' 'bikes' %}">
                                    Bikes
                                </a>
                            </li>

                            <li>
                                <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                    href="{% url 'category_products' 'safety-kits' %}">
                                    Safety Kits
                                </a>
                            </li>

                            <li>
                                <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                    href="{% url 'category_products' 'accessories' %}">
                                    Accessories
                                </a>
                            </li>

                            <li>
                                <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                    href="#">
                                    About Us
                                </a>
                            </li>

                            <li>
                                <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                    href="#">
                                    Contact Us
                                </a>
                            </li>

                            <li>
                                <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75 font-bold "
                                    href="{% url 'cart_view' %}" type="button" data-drawer-target="drawer-right-example"
                                    data-drawer-show="drawer-right-example" data-drawer-placement="right"
                                    aria-controls="drawer-right-example">
                                    Cart
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="flex items-center gap-4">
                    {% if user.is_authenticated %}

                    <a class="rounded-md bg-blue-600 px-5 py-2.5 text-md font-medium text-white shadow-sm hover:bg-blue-700 dark:bg-blue-500"
                        href="{% url 'user_profile' %}">
                        Profile
                    </a>

                    <a class="rounded-md bg-red-500 px-5 py-2.5 text-md font-medium text-white shadow-sm hover:bg-red-600 dark:bg-red-600"
                        href="{% url 'logout' %}">
                        Logout
                    </a>

                    {% else %}
                    <div class="sm:flex sm:gap-4">
                        <a class="rounded-md bg-teal-600 px-5 py-2.5 text-md font-medium text-white shadow-sm hover:bg-teal-500 dark:hover:bg-teal-500"
                            href="{% url 'login' %}">
                            Login
                        </a>

                        <div class="hidden sm:flex">
                            <a class="rounded-md bg-gray-100 px-5 py-2.5 text-md font-medium text-teal-600 dark:bg-gray-800 dark:text-white dark:hover:text-white/75"
                                href="{% url 'singup' %}">
                                Register
                            </a>
                        </div>
                    </div>

                    {% endif %}

                    <!-- Mobile menu button -->
                    <div class="block md:hidden">
                        <button
                            class="rounded-sm bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75 dark:bg-gray-800 dark:text-white dark:hover:text-white/75">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main>
        <div class="">
            {% block content %}

            {% endblock %}
        </div>
    </main>


    <footer class="bg-gray-800 text-gray-200">
        <div class="max-w-7xl mx-auto px-4 py-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">

            <!-- Contact Info -->
            <div>
                <h2 class="text-xl font-semibold mb-4">Contact Us</h2>
                <p><a href="mailto:fifapes1422@gmail.com">Email: fifapes1422@gmail.com</a></p>
                <p><a href="tel:01624163423">Phone: +8801624163423</a></p>

                <p>Address: 123 Main Street, City, Country</p>
            </div>

            <!-- Terms & Conditions -->
            <div>
                <h2 class="text-xl font-semibold mb-4">Legal</h2>
                <ul class="space-y-2">
                    <li><a href="#" class="hover:underline">Terms & Conditions</a></li>
                    <li><a href="#" class="hover:underline">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Quick Links -->
            <div>
                <h2 class="text-xl font-semibold mb-4">Quick Links</h2>
                <ul class="space-y-2">
                    <li><a href="{% url 'home' %}" class="hover:underline">Home</a></li>
                    <li><a href="#" class="hover:underline">Products</a></li>
                    <li><a href="#" class="hover:underline">Contact</a></li>
                </ul>
            </div>

            <!-- Social Media -->
            <div>
                <h2 class="text-xl font-semibold mb-4">Follow Us</h2>
                <div class="flex space-x-4">
                    <a target="_blank" href="https://www.facebook.com/iahia.imon.18" class="hover:text-blue-500" aria-label="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a target="_blank" href="https://x.com/Iahia_Imon" class="hover:text-blue-400" aria-label="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/iahia206/" class="hover:text-pink-500" aria-label="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/iahia-imon-17654b331/" class="hover:text-blue-600"
                        aria-label="LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="text-center py-4 text-sm">
            &copy; {% now "Y" %} FeelYourBike. All rights reserved. || Iahia
        </div>
    </footer>



    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-left",
            "timeOut": "3000",
        };

        {% if messages %}
        {% for message in messages %}
        toastr["{{ message.tags }}"]("{{ message|escapejs }}");
        {% endfor %}
        {% endif %}

    </script>

</body>

</html>